{% extends 'base.html.twig' %}

{% block title %}Make deposit{% endblock %}

{% block body %}
    <section class="ui container">


            {{ form_start(depositFrom) }}
            {{ form_widget(depositFrom) }}

            <button class="ui button" type="submit">Deposit</button>
            {{ form_end(depositFrom) }}


    </section>

{% endblock %}